c/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 3px #9b8686;
  background-color: #d3e7b0;
}

.special {
  padding: 10px;
  border: dashed;
  background-color: lightpink;
  color: darkslategray;
  font-size: 40px;
  font-family: "Times New Roman", Times, serif;
  font-style: bold
}